<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Driver Class -->
		<property name="hibernate.connection.driver_class">sun.jdbc.odbc.JdbcOdbcDriver</property>

		<!-- Driver URL and Path -->
		<property name="hibernate.connection.url">jdbc:odbc:Driver={Microsoft Access Driver
			(*.mdb,
			*.accdb)};DBQ=C:/Users/pandehar/Harshal_Workspace/first/src/Hibernate.accdb</property>


		<property name="connection.username"></property>


		<property name="connection.password"></property>

		<property name="connection.pool_size">1</property>

		<!-- Set Dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>

		<property name="current_session_context_class">thread</property>
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		
		<!-- Name of Annotated Model Classes Here -->
		<mapping class="org.javabrains.harshal.model.UserDetails" />
	</session-factory>
</hibernate-configuration>